name: CI

on:
  # TODO: enable when this bug is resolved: https://github.com/earthly/earthly/issues/3930
  # push:
  #   branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1
      EARTHLY_CONVERSION_PARALLELISM: "5"
      EARTHLY_TOKEN: "${{ secrets.EARTHLY_TOKEN }}"
      EARTHLY_INSTALL_ID: "earthly-dind-githubactions"
    steps:
      - uses: earthly/actions/setup-earthly@v1
        with:
          version: v0.8.5
      - uses: actions/checkout@v4
      - name: Docker login (non fork only)
        run: |-
          docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password "${{ secrets.DOCKERHUB_TOKEN }}"
          docker login registry-1.docker.io.mirror.corp.earthly.dev --username "${{ secrets.DOCKERHUB_MIRROR_USERNAME }}" --password "${{ secrets.DOCKERHUB_MIRROR_PASSWORD }}"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Configure Earthly to use mirror (non fork only)
        run: |-
          earthly config global.buildkit_additional_config "'[registry.\"docker.io\"]
          mirrors = [\"registry-1.docker.io.mirror.corp.earthly.dev\"]'"
        if: github.event.pull_request.head.repo.full_name == github.repository
      - name: Run tests
        run: |-
          earthly config git "{github.com: {auth: ssh, user: git}}" && \
          eval $(ssh-agent) && \
          earthly secrets --org earthly-technologies --project core get littleredcorvette-id_rsa | ssh-add - && \
          earthly --ci -P --push --org earthly-technologies --satellite dind +test
